.container {
    text-align: center;
}

.course-item {
    background-color: pink;
    height: 250px;
}

h1 {
    color: #fff;
    line-height: 250px;
    font-size: 30px;
}

.category {
    background-color: green;
    height: 260px;
}

ul {
    margin-top: 0px;
}

h1 {
    margin-top: 0px;
}